<style>
  .shadow {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    position: relative;
    top: 5px;
    cursor: pointer;
  }

  .cross{
    stroke:#be0000;
  }
  .shadow:hover .cross{
    stroke:#e41e1e;
  }
</style>
<div class="dashbar">
<CryptologoBanner @project="metaTrail"></CryptologoBanner>
  
  <div class="connectinfo">
    {{#if this.walletConnect.isConnected}}
    
      <div class="account" id="glow-red" title="Disconnect from Wallet" {{on 'click' this.disconnect}}>
        <b>&lt;</b> {{nicer-hash this.walletConnect.connectedAccount}}<b>&gt;</b>
      </div>
    {{else}}
       <div class="account" id="glow-red" {{on 'click' this.connect}}><b>&lt;</b> CONNECT <b>&gt;</b></div>
    {{/if}}
    
  </div>
</div> 
