 <div id="world-svg">
    <canvas width="1600" height="800"></canvas>
  </div>
        
        <script>
            let geojson = {}

let context = d3.select('#world-svg canvas')
  .node()
  .getContext('2d');
  context.translate(50,1);

let projection = d3.geoOrthographic()
  .scale(300);

let geoGenerator = d3.geoPath()
  .projection(projection)
  .pointRadius(4)
  .context(context);

let yaw = 300;

function update() {
  projection.rotate([yaw, -45])
    

  context.clearRect(0, 0, 800, 600);

  context.lineWidth = 0.5;
  context.strokeStyle = '#72c6ff';

  context.beginPath();
  geoGenerator({type: 'FeatureCollection', features: geojson.features})
  context.stroke();

  // Graticule
  let graticule = d3.geoGraticule();
  context.beginPath();
  context.strokeStyle = '#999';
  geoGenerator(graticule());
  context.stroke();

  yaw -= 0.1
}


d3.queue()
                     .defer(d3.json, 'locations.json')
                    .await((error, worldData) => {

  geojson = worldData;
  window.setInterval(update, 100);
});

  

        </script>